.About {
  margin-top: 4rem;
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    .icon-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: 150px;
        margin: 2rem 0;
      }
    }
  }
  .info {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
}
