.About {
  margin-top: 4rem;
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: space-evenly;
    .icon-container {
      display: flex;
      flex-direction: column;
      text-align: center;

      .img-wrapper {
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.2rem;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 4px 8px #9886a88f;
        margin-bottom: 1rem;
        transition: all ease 300ms;
        &:hover {
          transform: translateY(-5px);
          background-color: rgba(30, 144, 255, 0.68);
        }
      }
      img {
        width: 100%;
      }
    }
  }
  .info {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 1300px;
    box-shadow: 0px -2px 6px #9886a88f;
    padding: 1rem;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .quote {
      padding: 1rem 2rem;
      flex-basis: 81%;
    }
    .profile {
      flex-basis: 19%;
      img {
        width: 100%;
      }
    }
  }
}
/* Tablet/Mobile Display */
@media only screen and (max-width: 1300px) {
  .About {
    .info {
      width: auto;
      margin: 0 4rem;
    }
  }
}
/* Tablet/Mobile Display */
@media only screen and (max-width: 950px) {
  .About {
    .info {
      .quote {
        flex-basis: 75%;
      }
      .profile {
        flex-basis: 25%;
      }
    }
  }
}
/* Tablet/Mobile Display */
@media only screen and (max-width: 768px) {
  .About {
    .icons {
      padding: 0 1rem;
      .icon-container {
        width: 20%;
        .img-wrapper {
          padding: 20%;
          width: 100%;
          height: auto;
        }
      }
    }
    .info {
      flex-direction: column;
      margin: auto;
      .profile {
        text-align: center;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .About {
    .icons {
      .icon-container {
        font-size: 14px;
      }
    }
    .info {
      .quote {
        padding: 1rem;
        font-size: 1rem;
      }
      .profile {
        width: 100%;
      }
    }
  }
}
