.Contact {
  margin: 3rem 0;
  .line {
    color: dodgerblue;
    background-color: dodgerblue;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  form {
    max-width: 900px;
    width: 100%;
    margin: 2rem auto 0 auto;
  }
  footer {
    line-height: 1.5rem;
    p {
      text-align: center;
    }
  }
  .MuiInput-underline:after {
    border-bottom: 2px solid dodgerblue;
  }
  .MuiFormLabel-root.Mui-focused {
    color: dodgerblue;
  }
}

/* Mobile Display */
@media only screen and (max-width: 768px) {
  .Contact {
    padding: 0 1rem;
  }
}
