.Home {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .content {
    z-index: 5;
    text-align: center;
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      .Typewriter__wrapper {
        color: slateblue;
      }
    }
  }
  .home-btn {
    position: absolute;
    font-size: 2.5rem;
    color: slateblue;
    bottom: 16px;
    border: 1px solid slateblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: home-arrow 2s infinite;
    transition: all ease;
  }
}
@keyframes home-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
