$primary-color: dodgerblue;

.primary-color {
  color: $primary-color;
}

.btn-primary {
  border: 1px solid dodgerblue;
  background-color: transparent;
  color: dodgerblue;
  padding: 12px 1rem;
  margin: 2rem auto;
}
